/* Estilos para el navbar */
.navbar {
    background-color: #e3f2fd;
    color: black;
}

.navbar-brand img {
    width: 125px;
    height: 100px;
}

.navbar-nav .nav-link {
    color: black;
    transition: color 0.3s, background-color 0.3s;
}

.navbar-nav .nav-link:hover {
    background-color:  #44B7AC;
    ;
    color: black;
    border-radius: 5px;
}


.main-content {
    background-color: #f8f9fa;
    padding-top: 20px;
}

/* Tarjetas y contenido general */
.card {
  
    background-color: white;
}

.mi-card{
    border: solid 2px;
    border-color: #30596B;
    border-radius: 10px;

}

.card-body h5 {
    margin-bottom: 0.5rem;
    color: #30596B;
}

.card-body svg {
    margin-bottom: 10px;
}

body{
    background-color:E2E2E2;
    ;
}
